header{
    background-color: #373a36;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  /* header */
  .navlinks-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  /* logo */
  .logo {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #d48166;
    margin-left: 50px;
  }
  
  li{
    list-style: none;
  }
  
  a{
    text-decoration: none;
  }
  
  .Links {
    display: flex;
    margin-right: 50px;
    gap: 3rem;
    letter-spacing: 2px;
  }
  
  /* navlinks*/
  .navlink {
    color: #ffff;
    font-size: 30px;
    font-weight: bold;
    transition: 0.5s; /*makes content blink */
    /* padding: 5px; */
    /* margin: 10px; */
  }
  
  .navlink:hover{
    color: #d48166;
  }